<header class="main-header">
	<div class="common-container">
		<a class="header-logo" routerLink="/">The Photo Studio</a>
		
		<!-- Header Login -->
		<div class="header-login-block">
			<a class="login-btn" routerLink="/" (click)="changeUserlog()" *ngIf="hidelogBtn">Login</a>
			<div class="after-login" *ngIf="showUserlog">
				<div class="user-notification-main" (click)="changeUserNotiDropdown()">
					<a class="user-notification">
						<span class="noti-count">2</span>					
					</a>
					<div class="user-noti-dropdown" *ngIf="hideNotiDropdown">
						<ul>
							<li><a routerLink="">Notification List will here</a></li>
						</ul>
					</div>
				</div>
				<div class="user-small-profile-main" (click)="changeUserProfileDropdown()">
					<span class="user-small-profile">
						<span class="user-sp-pic"><img src="./assets/img/user-img.jpg" alt="" /></span>
						<span class="user-sp-text">Ashleigh</span>						
					</span>				
					<div class="user-sp-dropdown" *ngIf="hideUserpDropdown">
						<ul>
							<li><a routerLink="">Logout</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>		
		<!-- //Header Login -->
		
		<!-- Header Menu -->
		<a class="header-hamburger" (click)="changeMenu()">
			<span class="line1"></span>
			<span class="line2"></span>
			<span class="line3"></span>
		</a>
		<a class="header-close" (click)="changeMenu()" *ngIf="showHeader">
			<span class="line1"></span>
			<span class="line2"></span>
		</a>
		<ul class="main-nav" *ngIf="showHeader" (click)="changeMenu()">			
			<li><a routerLink="photo-shoots">Photo Shoots</a></li>
			<li><a routerLink="galleries">Galleries</a></li>
			<li><a routerLink="win">Win</a></li>
			<li><a routerLink="about">About</a></li>
			<li><a routerLink="magazine">Magazine</a></li>			
		</ul>
		<!-- //Header Menu -->	
	</div>
</header>
