<footer class="main-footer">
	<div class="common-container">
		<ul class="footer-social">
			<li><a href="https://www.facebook.com/" target="_blank"><img src="./assets/img/fb.svg" alt="" /></a></li>
			<li><a href="https://twitter.com/" target="_blank"><img src="./assets/img/tw.svg" alt="" /></a></li>
			<li><a href="https://www.instagram.com/" target="_blank"><img src="./assets/img/ig.svg" alt="" /></a></li>
			<li><a href="https://www.pinterest.com/" target="_blank"><img src="./assets/img/pin.svg" alt="" /></a></li>
		</ul>	
		<ul class="footer-nav">			
			<li><a routerLink="about">About Us</a></li>
			<li><a routerLink="sponsor">Sponsor Contest</a></li>
			<li><a routerLink="privacy">Privacy</a></li>
			<li><a routerLink="terms">Terms</a></li>
			<li><a routerLink="support">Support</a></li>
		</ul>	
		<p class="footer-copyright">Copyright © 2019. photostudio. All Rights Reserved.</p>
	</div>
</footer>
