.main-footer{
	width:100%;
	display:inline-block;
	padding:50px 0;
	background:#000;
	color:#fff;
	text-align:center;	
	font-size:14px;
	font-family: 'AvenirNext-Medium';
}
.footer-social{
	width:100%;
	display:inline-block;
	margin-bottom:20px;
}
.footer-social li{
	float:none;
	padding:0 7px;
	width:auto;
	list-style:none;
	display: inline-block;
}
.footer-social li a{
	text-decoration:none;
	color:#fff;
}
.footer-social li a:hover img{
	transform:scale(1.1);
}
.footer-nav{
	width:100%;
	display:inline-block;
	margin-bottom:15px;
}
.footer-nav li{
	float:none;
	padding:0 10px;
	width:auto;
	list-style:none;
	display: inline-block;
}
.footer-nav li a{
	text-decoration:none;
	color:#fff;
}
.footer-nav li a:hover{
	color:#9B204C;
}
.footer-copyright{
	color:#808080;
}