/* global styles */
@import url("assets/fonts/font.css");
*{
	box-sizing:border-box;
	-webit-box-sizing:border-box;
	-moz-box-sizing:border-box;
}
body, h1, h2, h3, h4, h5, h6, ul, li, p{
	padding:0;
	margin:0;
	font-family: 'AvenirNext-Regular';
	font-size:14px;
}
li{
	list-style:none;
}
input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-appearance: none;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus,
textarea:focus,
a, 
a:hover, 
a:active, 
a:focus {
    outline:0;
}
iframe{
	max-width:100%;
}
blockquote {
    margin: 20px 0 30px;
    padding-left: 20px;
    border-left: 5px solid #000;
    font-style:italic;
}
.common-section{
	width:100%;
	display:inline-block;
	min-height:50px;
	background:#d1d1d1;
	min-height:360px;
	text-align:center;
	padding:50px 0;
	font-size:18px;
}
.common-container{
	width:100%;
	max-width:1140px;
	margin:0 auto;
	padding:0 15px;
}